@import "tailwindcss";

:root {
  --primary: #2563eb;
  --primary-light: #3b82f6;
  --primary-dark: #1e40af;
  --text: #333;
  --background: #fff;
  --background-sky: #f0f9ff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-text: var(--text);
  --color-background: var(--background);
  --color-background-sky: var(--background-sky);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
